DATABASE_URL=[POSTGRES_CONNECTION_URL]


ADMIN_USER=[ADMIN_USER]

PORT=[PORT]
GOOGLE_CLIENT_SECRET=[GOOGLE_CLIENT_SECRET]
GOOGLE_CLIENT_ID=[GOOGLE_CLIENT_ID]

COOKIE_DOMAIN=
COOKIE_NAME=
JWT_SECRET=[JWT_SECRET]


PRIVATE_CORS_ORIGINS=[YOUR_CLIENT_URLS] # Example: http://localhost:3000,http://192.168.100.192:3000

GEMINI_API_KEY="YOUR_GEMINI_API_KEY"
